streamlit>=1.15.2
# pinned at 2.2 due to incompatibility issue - used in content=1
bokeh>=2.2 
feedgen>=0.9.0 
pandas>=1.2.3 
numpy>=1.20.1 
pyyaml>=5.4.1
# pytorch installed manually in the docker build due to memory restriction on ec2 instance
#torch>=1.9.0
#fastai>=2.5.2
matplotlib>=3.4.3
bing_image_downloader>=1.1.1